<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">VoxEC</h5>
    <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex bottonsTool justify-content-center" id="btns">
      <button class="btnAdd">
        <span class="material-symbols-outlined add" id="btnAdd">
          add
        </span>
      </button>
      <button class="btnAdd">
        <span class="material-symbols-outlined" id="btnSettings">
          settings
        </span>
      </button>
      <button class="btnAdd">
        <span class="material-symbols-outlined" id="btnAccount">
          account_circle
        </span>
      </button>
    </div>

    {{!-- Configurações --}}
    <div class="settings" id="settings">
      <hr>
      <div class="mb-3">
        <h4>Configurações</h4>
      </div>
      <div class="cardSettings p-3 mt-4">
        {{!-- Dados básicos (nome e avatar) --}}
        <div>
          <div class="mb-3">
            <h5>Dados básicos</h5>
          </div>
            <form action="/user/modifyName/{{user._id}}" method="post">
              <div class="mb-3">
                <label for="username">Nome de usuário:</label>
                <div class="inputContent">
                    <span class="material-symbols-outlined iconForm">
                        person
                    </span>
                    <input type="text" value="{{user.username}}" required class="form-control" placeholder="Seu nome de usuário" name="newUsername" id="username">
                </div>
              </div>
              <div class="btns">
                <button type="submit" class="btnAction">Alterar</button>
              </div>
            </form>
          <hr>
          <div class="mb-3">
            <div class="mb-3">
              <h5>Escolha seu avatar</h5>
              <div class="avatarContainer mb-3">
                <img src="https://res.cloudinary.com/dzx23baef/image/upload/v1741043285/avatar01_egj2me.png"
                  alt="Avatar 1" class="avatar" onclick="selectAvatar(this.src)">

                <img src="https://res.cloudinary.com/dzx23baef/image/upload/v1741043285/avatar05_vrhlut.png"
                  alt="Avatar 2" class="avatar" onclick="selectAvatar(this.src)">

                <img src="https://res.cloudinary.com/dzx23baef/image/upload/v1741043285/avatar03_vnujho.png"
                  alt="Avatar 3" class="avatar" onclick="selectAvatar(this.src)">

                <img src="https://res.cloudinary.com/dzx23baef/image/upload/v1741043285/avatar06_gkyqqw.png"
                  alt="Avatar 3" class="avatar" onclick="selectAvatar(this.src)">

                <img src="https://res.cloudinary.com/dzx23baef/image/upload/v1741043285/avatar02_izb545.png"
                  alt="Avatar 3" class="avatar" onclick="selectAvatar(this.src)">

                <img src="https://res.cloudinary.com/dzx23baef/image/upload/v1741043285/avatar04_xfq5xk.png"
                  alt="Avatar 3" class="avatar" onclick="selectAvatar(this.src)">
              </div>
              <div class="btns">
                <button class="btnAction" onclick="saveAvatar()">Salvar</button>
              </div>
            </div>
          </div>
        </div>
        <hr>

        {{!-- Segurança (Alteração de senha) --}}
        <div>
           <div class="mb-3">
            <h5>Segurança</h5>
          </div>
            <form action="/user/modifyPass/{{user._id}}" method="post">
              <div class="mb-3">
                <label for="password">Alterar Senha:</label>
                <input type="password" class="form-control" placeholder="Digite aqui a nova senha!" name="password">
              </div>
    
              <div class="mb-3">
                <label for="password">Digite novamente:</label>
                <input type="password" class="form-control" placeholder="Digite novamente a senha!" name="passwordReap">
                <div class="btns">
                  <button type="submit" class="btnAction">Alterar</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

    {{!-- Página do perfil de usuário --}}
    <div class="account mt-4" id="account">
      <div class="d-flex justify-content-center">
        <h4>Meu perfil</h4>
      </div>
      <hr>
      {{!-- Nome do usuário --}}
      <span class="d-flex justify-content-center"><strong>{{user.username}}</strong></span>
      {{!-- Avatar do usuário --}}
      <div class="d-flex perfilAvatar justify-content-center">
        <img id="avatarImg" src="{{user.avatar}}" alt="" height="100%">
      </div>

      {{!-- Amigos --}}
        <div class="mt-4">
          <div class="d-flex mb-3 justify-content-center">
            <button onclick="openFriendsData()" class="btn d-flex btn-success">
              <h4>{{user.friends.length}} Amigo(s)</h4>
            </button>
          </div>
          <div class="btns">
          <a class="text-decoration-none" href="/user/studies/{{user._id}}">
            <button class="btn d-flex gap-2 btn-light">Meus estudos
              <span class="material-symbols-outlined">
                school
              </span>
            </button>
          </a>
        </div>
        </div>
      <hr>
      
        {{!-- Notificações --}}
        {{#if user.friendRequests.length}}
        <div>
          <div class="d-flex justify-content-center">
            <h5>Solicitações de amizade para você: {{user.friendRequests.length}}</h5>
          </div>
          {{#each user.friendRequests}}
            <div class="cardHero localSolicitation d-flex">
              <div class="dataSolicitation">
                <div>
                  <img src="{{this.avatar}}" height="80px" alt="">
                </div>
                <div>
                  {{this.username}} <br> ({{this.email}})
                </div>
              </div>
              <div class="btns">
                <form action="/user/acceptFriend/{{this._id}}" method="POST">
                    <button class="btn btn-success" type="submit">Aceitar</button>
                </form>
                <form action="/user/rejectFriend/{{this._id}}" method="POST">
                    <button class="btn btn-danger" type="submit">Recusar</button>
                </form>
              </div>
            </div>
          {{/each}}
        </div>
        {{/if}}
      <hr>
      {{!-- Amigos do usuário --}}
      {{#if users.length}}
      <div class="d-flex localFriends mt-4 justify-content-center">
        <div class="d-flex justify-content-center">
          <h4>Outros usuários</h4>
        </div>
        {{#each users}}
          <div class="cardHero localUser">
            <div>
              {{#if (eq this.avatar "")}}
                <img src="/assets/images/anonymous.png" class="avatarNone" alt="">
              {{/if}}
              <img src="{{this.avatar}}" class="avatarHeight" alt="">
            </div>
            <div>
              <small>{{this.username}}</small>
            </div>
            <div class="btns btnAddF">
              <form action="/user/addFriend/{{this._id}}" method="post">
                <button class="btn btn-success d-flex">
                  <span class="material-symbols-outlined">
                    person_add
                  </span>
                </button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
      {{else}}
      <h3>Outros usuários:</h3>
        <div class="d-flex localNoUsers justify-content-center">
          <h4>Nenhum usuário encontrado...</h4>
        </div>
      {{/if}}
    </div>

    <div class="createGroup mt-4" id="createGroup">
      <hr>
      <div class="mb-3">
        <h4>Criar novo grupo</h4>
      </div>
      <form action="/user/createGroup" method="post">
        <div class="mb-3">
          <div class="inputContent">
            <span class="material-symbols-outlined iconForm">
              groups
            </span>
            <input type="tex" placeholder="Nome do grupo" class="form-control" name="groupName" id="groupName">
          </div>
        </div>
        <div class="mb-3">
          <div class="inputContent">
            <span class="material-symbols-outlined iconForm">
              description
            </span>
            <input type="tex" placeholder="Descrição do grupo" class="form-control" name="groupDescription"
              id="groupDescription">
          </div>
        </div>
        <div class="btns">
          <button type="submit" class="btnCreate">Criar</button>
        </div>
      </form>
    </div>
    <hr>
    <div class="groups">
      <h3>Grupos</h3>
      <hr>
      <div class="localGroup p-3">
        <ul class="list-group">
          {{!-- Lista de grupos --}}
          {{#each dataGroups}}
          <a class="text-decoration-none text-light" href="/user/group/{{this._id}}">
            <li class="list-group-item itemGroup">
              <div class="dataGroup">
                <h4>{{this.groupName}}</h4>
                
                  <strong>Criador por:
                    {{#if (eq this.author.avatar "")}}
                    <img src="/assets/images/anonymous.png" height="50px" alt="">
                    <a class="text-light" href="/user/profile/{{this.author._id}}">{{this.author.username}}</a></small>
                    {{else}}
                      <img src="{{this.author.avatar}}" height="50px" alt="">
                      <a class="text-light" href="/user/profile/{{this.author._id}}">{{this.author.username}}</a></small>
                    {{/if}}
                  </strong>
              </div>
              <hr>
              <p>
              <div class="cardHero text-success p-3">
                {{this.groupDescription}}
              </div>
              </p>
            </li>
          </a>
          {{else}}
          <div class="d-flex justify-content-center text-light">
            <h4>Nenhum grupo por aqui...</h4>
          </div>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
